<html>
    <head>
        <title>
            Print Duty
        </title>
    </head>
      {% comment %} #link for Responsive {% endcomment %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     
      {% comment %} #bootstrap link for css {% endcomment %}
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  
      {% comment %} #link for animation {% endcomment %}
      <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
     
      {% comment %} link for bootstrap icons {% endcomment %}
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <style>
       .border_bg{
        border:1px solid black;
        
       }
       .div-image{
           text-align:center;
       }
       img{
           width:25%
       }
       .heading{
        background:#D3E7E7;
        border-radius:2px;
        }
        .bg-header{
            background-color:#045D76;
            color:white;
        }
        .text-color{
            color:#045D76;
        }
       }
   </style>
<body>
    {% comment %} <img src="{{data.opning_km_photo.url}}" alt=""> {% endcomment %}
    <div class="container border_bg" >
        <div class="row text-center" >
            <div class="col-sm-12 text-center  bg-header py-3">
                <b><h3>DUTY SLIP</h3></b>
                <p>New sairam nagar, Near new Z.P School, Ranjangaon S.P. Tq.Gangapur Dist.Aurangabad</p>
            </div>
        </div>
<br>

        <div class="row ">
            <div class="col-sm-6 text-center">
                <b class="text-color">Date Time</b><br>
                {{data.arivel_time}}
            </div>
            <div class="col-sm-6 text-center">
                <b class="text-color">Bill No</b><br>
                105
            </div>
        </div>

<br>
<div class="heading"> &nbsp; Vehical Details</div>
        <div class="row text-center">
            <div class="col-sm-4">
                <b>Driver Name</b><br>
                {{data.driver_name}}
            </div>
            <div class="col-sm-4">
                <b>Vehical No</b><br>
                {{data.vehical_no}}
            </div>
            <div class="col-sm-4">
                <b>Vehical Type</b><br>
                {{data.vehical_type}}
            </div>
        </div>
        
<br>
        <div class="heading"> &nbsp; Activities</div>

        <div class="row text-center">
            <div class="col-sm-3">
                <b>Pickup City</b><br>
               {{data.arivel_city}}
            </div>
            <div class="col-sm-3">
                <b>Pickup Time</b><br>
               {{data.arivel_time}}
            </div>
            <div class="col-sm-3">
                <b>Destination_City </b><br>
               {{data.destination_city}}
            </div>
            <div class="col-sm-3">
                <b>Droping_Time</b><br>
                {% if data.total_km %}
               {{data.destination_time}}
               {% else %}
               -
               {% endif %}
            </div>
        </div>

<br>
        <div class="heading"> &nbsp; Passenger Details</div>
        <div class="row">
            <div class="col-sm-3 text-center">
                <b>Passenger Name</b><br>
               {{data.cust_name}}
        </div>
            <div class="col-sm-3 text-center"></div>
            <div class="col-sm-6 ">
                {% if data.cust_photo.url == '/media/static/default.jpg' %}
                {% else %}
                <div class="div-image">
                    <img src="{{data.cust_photo.url}}" alt="">
                </div>
                {% endif %}
            </div>
        </div>

        
        {% if data.km_reading_1 %}
        <br>
       <div class="heading"> &nbsp; Diesel/Petrol Details  </div>
      <div class="row">
        <div class="col-sm-3 text-center">
            <b>Vehical Km/Amt</b><br>
                Km/Reading. {{data.km_reading_1}} <br>
              Amt. {{data.diesel_amount_1}}
        </div>
        {% if data.km_reading_2 %}
        <div class="col-sm-3 text-center">
            <b>Vehical Km/Amt</b><br>
                 Km/Reading. {{data.km_reading_2}} <br>
               Amt. {{data.diesel_amount_2}}
        </div>
        {% endif %}
        {% if data.km_reading_3 %}
        <div class="col-sm-3 text-center">
            <b>Vehical Km/Amt</b><br>
                Km/Reading. {{data.km_reading_3}} <br>
               Amt. {{data.diesel_amount_3}}
        </div>
        {% endif %}

        {% if data.km_reading_4 %}
        <div class="col-sm-3 text-center">
            <b>Vehical Km/Amt</b><br>
                Km/Reading. {{data.km_reading_4}} <br>
               Amt. {{data.diesel_amount_4}}
        </div>
        {% endif %}
      </div>
      {% endif %}
      
      <br>
{% if data.toll_amount_1 %}
      <div class="heading"> &nbsp; Toll Details </div>
     <div class="row">
      <div class="col-sm-3 text-center">
          <b>{{data.toll_name_1}}</b><br>
          {{data.toll_amount_1}}
      </div>
      <div class="col-sm-3 text-center">
          {% if data.toll_name_2 %}
        <b>{{data.toll_name_2}}</b><br>
        {{data.toll_amount_2}}
        {% endif %}
      </div>
      <div class="col-sm-3 text-center">
          {% if data.toll_name_3 %}
        <b>{{data.toll_name_3}}</b><br>
        {{data.toll_amount_3}}
        {% endif %}
      </div>
      <div class="col-sm-3 text-center">
          {% if data.toll_name_4 %}
        <b>{{data.toll_name_4}}</b><br>
        {{data.toll_amount_4}}
        {% endif %}
      </div>
     </div>
     {% endif %}

     {% if data.toll_name_5 %}
     <div class="row">
        <div class="col-sm-3 text-center">
            <b>{{data.toll_name_5}}</b><br>
            {{data.toll_amount_5}}
          </div>
          <div class="col-sm-3 text-center">
              {% if data.toll_name_6 %}
              <b>{{data.toll_name_6}}</b><br>
              {{data.toll_amount_6}}
              {% endif %}
            </div>
     </div>
     {% endif %}
     <br>

     <div class="heading"> &nbsp; Distance or Payment Details </div>
    <div class="row">
     <div class="col-sm-3 text-center">
         <b>Opning Km</b><br>
            {{data.opning_km}}
     </div>
     <div class="col-sm-3 text-center">
         <b>Closing Km</b><br>
         {% if data.closing_km %}
         {{data.closing_km}}
         {% else %}
         -
         {% endif %}

     </div>
     <div class="col-sm-3 text-center">
         <b>Total Km</b><br>
         {% if data.total_km %}
         {{data.total_km}}
         {% else %}
         -
         {% endif %}

     </div>
    </div>

     <br>

     <div class="heading"> &nbsp; Ordering Details </div>
     <div class="row">
         <div class="col-sm-3 text-center">
         <b>Order By</b> <br>
         {% if data.order_by %}
         {{data.order_by}}
         {% else %}
         -
         {% endif %}
        </div>

        <div class="col-sm-3 text-center">
            <b>Signature</b> <br><br>
            ......................................
        </div>

        <div class="col-sm-6">
            {% if data.order_by_photo.url == '/media/static/default.jpg' %}
                {% else %}
          <div class="div-image">
              {% if data.order_by_photo %}
              <img src="{{data.order_by_photo.url}}" alt="">
              {% endif %}
          </div>
          {% endif %}
        </div>
     </div>


     <br>
     <hr>
     <div class="bg-header text-center">
       <label for="" style="font-size:10px; margin-bottom:-0.2px;"> this is computer generated print</label>
     </div><br>

    </div>
</body>
</html>