{% load static %}
<html >
    <head>
        <title>
           {% block title %}{% endblock title %}
        </title>
    
    {% comment %} #link for Responsive {% endcomment %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
    {% comment %} #bootstrap link for css {% endcomment %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   
    {% comment %} #link for animation {% endcomment %}
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
   
    {% comment %} link for bootstrap icons {% endcomment %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
     <link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Signika+Negative:wght@600&display=swap" rel="stylesheet">
     
  </head>
    <style>
    {% block Style %}
      #loading{
      position: fixed;
      width: 100%;
	  height: 100vh;
	  background: #fff url({% static 'images/loading.gif' %}) no-repeat center center;
      z-index: 99999;
    }
    
    .table_scroll{
        height:500px;
        overflow-x:scroll;
        overflow-y:scroll;
    }
    .table{
      min-width: max-content;
    }
    th{
      background-color: rgb(3, 74, 116);
    }

    .errorlist{
      background-color: red;
      border-radius:5px;
      margin-top:30px;
      padding-bottom: 7px;
      padding-top: 7px;
      color:white;
    }
    .bi{
      cursor: pointer;
      padding-left:5px;
      transition:0.2s;

    }
    .bi:hover{
      color:white;

    }
    .nav-link{
      transition:0.2s;
    }

    .nav-link:hover{
      background:rgb(114,212,225)
      color:dark;
    }
    
     h4
    {
      font-family: 'Akaya Telivigala', cursive;
      font-family: 'Signika Negative', sans-serif;
    }
    
    {% endblock Style %}
      
    </style>
    <body onload="myFunction()">
      <div id="loading"></div>

            <nav class="navbar navbar-expand-lg navbar-light bg-primary text-white ">
                <a class="navbar-brand text-warning" href="{% url 'index' %}" ><b>Tambe Transport</b></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item active">
                      <a class="nav-link text-white"  href={% url 'user_home' %}>Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white" href={% url 'new_entry' %}>New Entry</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white" href={% url 'pending_records' %}>Pending Records</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white" href={% url 'delivered_records' %}>Delivered Records</a>
                    </li>
                    
                  </ul>
                </div>
                <div>
                  {% comment %} Here is User Name {% endcomment %}
                      <a class="nav-link disabled text-white " data-toggle="modal" data-target="#profile_model" style="cursor: pointer;">
                        {% if request.user %}
                        Welcome, <b style="color:yellow;"> {{user.first_name}}</b>
                        {% else %}
                        Login
                         {% endif %}</a>
                </div>
                <div>
                    <a href="" class="nav-link text-white"   data-toggle="modal" data-target="#logout_model">Log Out</a>
                </div>
                </div>
              </nav>


 <!--Profile Modal -->
<div class="modal fade" id="profile_model" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h4 class="modal-title text-white" id="exampleModalLongTitle">Profile</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left">
        <h6>Username :- {{user.username}} </h6>
        <h6>Full Name :- {{user.first_name}} </h6>
        <h6>Email :- {{user.email}} </h6>
        <h6>Last Login :- {{user.last_login}} </h6>
      </div>
      <div class="modal-footer">
        <button  type="button" class="btn btn-primary bgcolor px-3" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!--Logout Modal -->
<div class="modal fade" id="logout_model" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h4 class="modal-title text-white" id="exampleModalLongTitle">Logout</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left">
        <h6>Are you sure to Logout</h6>
      </div>
      <div class="modal-footer">
        <a href="{% url 'user_logout' %}" class="btn btn-danger px-3 ">Yes</a> &nbsp;
        <button  type="button" class="btn btn-primary bgcolor px-3" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>






          {% block User_home %}{% endblock User_home %}
          {% block load_vehical %}{% endblock load_vehical %}
          {% block unload_vehical %}{% endblock unload_vehical %}
          {% block user_records %}{% endblock user_records%}
          {% block deliver_form %}{% endblock deliver_form %}
<br>
<div class="container-fluid">
<div class="row text-center bg-primary">
    <div class="col-sm-4"></div>
   <div class="col-sm-4">
    Tambe Transport &copy;  All Rights are Reserved <br>
    <i class="bi bi-instagram"></i>
    <i class="bi bi-facebook"></i>
    <i class="bi bi-twitter"></i>
    <i class="bi bi-whatsapp"></i>
    <i class="bi bi-globe"></i>
   </div>
   <div class="col-sm-4 text-center">
<!--<pre>Design & Developed By -->
<!--Mr.Rameshwar Pawar, Mr.Krishna Thore</pre>-->
   </div>
</div>
</div>


<script>
  var preloader = document.getElementById("loading");
  
  function myFunction(){
    preloader.style.display = 'none';
  };
</script>


<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
  </script>

    </body>
    {% comment %} <script src={% static 'js/bootstrap.min.js' %}></script>
    <script src={% static 'js/bootstrap.js' %}></script>
    <script src={% static 'js/popper.js' %}></script> {% endcomment %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      
    
</html>