
{% extends 'user_tourse_travels/Base.html' %}
{% load crispy_forms_tags %}
{% block manage_diesel %}

<div class="container">
    <h4 class="text-center alert alert-primary mt-2"> Manage Diesel</h4>
<div class="container">
    <form action="" method="POST" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-4">{{fm.km_reading_1|as_crispy_field}}</div>
            <div class="col-sm-4">{{fm.diesel_meter_photo_1|as_crispy_field}}</div>
            <div class="col-sm-4">{{fm.diesel_amount_1|as_crispy_field}}</div>
        </div>
        <div class="row">
            <div class="col-sm-4">{{fm.km_reading_2|as_crispy_field}}</div>
            <div class="col-sm-4">{{fm.diesel_meter_photo_2|as_crispy_field}}</div>
            <div class="col-sm-4">{{fm.diesel_amount_2|as_crispy_field}}</div>
        </div>
        <div class="row">
            <div class="col-sm-4">{{fm.km_reading_3|as_crispy_field}}</div>
            <div class="col-sm-4">{{fm.diesel_meter_photo_3|as_crispy_field}}</div>
            <div class="col-sm-4">{{fm.diesel_amount_3|as_crispy_field}}</div>
        </div>
        <div class="row">
            <div class="col-sm-4">{{fm.km_reading_4|as_crispy_field}}</div>
            <div class="col-sm-4">{{fm.diesel_meter_photo_4|as_crispy_field}}</div>
            <div class="col-sm-4">{{fm.diesel_amount_4|as_crispy_field}}</div>
        </div>
        

    <hr>
    <input type="submit" value="Submit" class="btn btn-success px-5">
</form>
</div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
  {% for msg in messages %}
  swal("Done", "{{msg}}", "success");
{% endfor %}
</script>

{% endblock manage_diesel %}
